<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" placement="bottom" [routerLink]="['/home']" target="_blank"
        tooltip="Control de Empleados">
        <span> Cidenet• </span> Registro de Empleados
      </a>
      <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> BLK• </a></div>
          <div class="col-6 collapse-close text-right">
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.linkedin.com/company/cidenet-s-a-s/" placement="bottom" target="_blank"
            tooltip="Siguenos en linkedin">
            <i class="fab fa-linkedin"> </i>
            <p class="d-lg-none d-xl-none">Linkedin</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.facebook.com/Cidenet" placement="bottom" target="_blank"
            tooltip="Me gusta en Facebook">
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.instagram.com/cidenet/" placement="bottom" target="_blank"
            tooltip="Siguenos en Instagram">
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="btn btn-danger" [routerLink]="['/register']">
            Registrar Empleados
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <img src="../../../assets/img/cidenet.png" alt="" class="">
        <h3>
          Registro de Empleados.
        </h3>
      </div>
    </div>
  </div>
  <div class="main ">
    <div class="section section-basic " id="basic-elements">
      <img class="path" src="assets/img/path1.png" />

      <div class="container col-sm-9 col-lg-9">

        <!-- tabla de usuarios -->
        <h2 class="title">Empleados de Nuestra compañia</h2>
        <br>
        <div class="col-sm-6 col-lg-6">
          <br>
          <div class="form-group">
            <input class="form-control" placeholder="Filtro de Busqueda" type="text" value="" name="filtroBusqueda"
              id="filtroBusqueda" [(ngModel)]="filtroBusqueda" (ngModelChange)="Buscar()" />
          </div>
        </div>
        <br>

        <div class="col-sm-12 col-lg-12 " style="overflow-x:auto;">

          <table class="table  table-hover ">
            <thead>
              <tr>
                <th class="text-primary">Primer Apellido</th>
                <th class="text-primary">Segundo Apellido</th>
                <th class="text-primary">Primer Nombre</th>
                <th class="text-primary">Otro Nombre</th>
                <th class="text-primary">Pais de Empleo</th>
                <th class="text-primary">Tipo de Identificacion</th>
                <th class="text-primary">Numero de Identificacion</th>
                <th class="text-primary">Correo</th>
                <th class="text-primary">Fecha de Ingreso</th>
                <th class="text-primary">Area</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let empleado of Empleados">
                <td>{{empleado.primerApellido}}</td>
                <td>{{empleado.segundoApellido}}</td>
                <td>{{empleado.primerNombre}}</td>
                <td>{{empleado.otrosNombres}}</td>
                <td>{{empleado.paisEmpleo}}</td>
                <td>{{empleado.tipoIdentificacion}}</td>
                <td>{{empleado.numeroIdentificacion}}</td>
                <td>{{empleado.correoElectronico}}</td>
                <td>{{empleado.fechaIngreso}}</td>
                <td>{{empleado.area}}</td>
                <td class="td-actions text-right">
                  <a style="cursor: pointer;" class="" type="button" placement="bottom" data-target="#myModal1" (click)="myModal1.show()"
                    tooltip="Eliminar">
                    <img src="../../../assets/img/delete.png" alt="">
                  </a>
                  <a  style="cursor: pointer;" class="mt-3" type="button" placement="bottom" tooltip="Editar" (click)="Editar(empleado)">
                    <img src="../../../assets/img/lapiz.png" alt="">
                  </a>
                </td>

                <!--     modal de eliminacion -->

                <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal
                  class="modal fade modal-mini modal-danger modal-mini" #myModal1="bs-modal" id="myModal1" role="dialog"
                  tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header justify-content-center">
                        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModal1.hide()"
                          type="button">
                          <i class="tim-icons icon-simple-remove text-white"> </i>
                        </button>
                        <div class="modal-profile">
                          <i class="tim-icons icon-alert-circle-exc"> </i>
                        </div>
                      </div>
                      <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar este usuario?</p>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-link btn-neutral" type="button" data-dismiss="modal"
                          (click)="myModal1.hide()">cerrar</button>
                        <button class="btn btn-link btn-neutral" type="button" (click)="Eliminar(empleado)">
                          Aceptar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
            </tbody>
          </table>


        </div>




      </div>
    </div>


  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">Cidenet•</h1>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Registro </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Siguenos</h3>
          <div class="btn-wrapper profile">
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.linkedin.com/company/cidenet-s-a-s/"
              target="_blank">
              <i class="fab fa-linkedin"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com/Cidenet"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://www.instagram.com/cidenet/"
              target="_blank">
              <i class="fab fa-instagram"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>