<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" tooltip="Designed and Coded by Creative Tim">
        <span> Cidenet• </span> Registro de Empleados
      </a>
      <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> BLK• </a></div>
          <div class="col-6 collapse-close text-right">
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.linkedin.com/company/cidenet-s-a-s/" placement="bottom" target="_blank"
            tooltip="Siguenos en linkedin">
            <i class="fab fa-linkedin"> </i>
            <p class="d-lg-none d-xl-none">Linkedin</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.facebook.com/Cidenet" placement="bottom" target="_blank"
            tooltip="Me gusta en Facebook">
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.instagram.com/cidenet/" placement="bottom" target="_blank"
            tooltip="Siguenos en Instagram">
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Regresar()"> Volver al Inicio </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img alt="Card image" class="card-img" src="assets/img/square1-red.png" />

                <h4 class="card-title">Registro</h4>
              </div>
              <div class="card-body">

                <form class="form">

                  <!-- nombres -->

                  <div class="row">

                    <div class="input-group col-md-6" [ngClass]="{ 'input-group-focus': focusPrimerNombre === true }">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"> </i>
                        </div>
                      </div>
                      <input class="form-control" name="PrimerNombre" placeholder="Primer Nombre" type="text"
                        (focus)="focusPrimerNombre = true" (blur)="focusPrimerNombre = false" [(ngModel)]="PrimerNombre"
                        (ngModelChange)="CorreoDominio()" />

                    </div>

                    <div class="input-group col-md-6" [ngClass]="{ 'input-group-focus': focusOtroNombre === true }">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"> </i>
                        </div>
                      </div>
                      <input class="form-control" name="OtrosNombres" placeholder="Otro Nombre" type="text"
                        (focus)="focusOtroNombre = true" (blur)="focusOtroNombre = false" [(ngModel)]="OtrosNombres" />

                    </div>
                  </div>

                  <!-- apellidos -->
                  <div class="row">

                    <div class="input-group col-md-6" [ngClass]="{ 'input-group-focus': focusPrimerApellido === true }">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"> </i>
                        </div>
                      </div>
                      <input class="form-control" name="PrimerApellido" placeholder="Primer Apellido" type="text"
                        (focus)="focusPrimerApellido = true" (blur)="focusPrimerApellido = false"
                        [(ngModel)]="PrimerApellido" (ngModelChange)="CorreoDominio()" />

                    </div>

                    <div class="input-group col-md-6"
                      [ngClass]="{ 'input-group-focus': focusSegundoApellido === true }">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"> </i>
                        </div>
                      </div>
                      <input class="form-control" name="SegundoApellido" placeholder="Segundo Apellido" type="text"
                        (focus)="focusSegundoApellido = true" (blur)="focusSegundoApellido = false"
                        [(ngModel)]="SegundoApellido" />

                    </div>
                  </div>

                  <!-- Pais y correo -->

                  <div class="row">

                    <div class="input-group col-md-6">
                      <select name="PaisEmpleo" class="form-control" style="color: grey" [(ngModel)]="PaisEmpleo"
                        (ngModelChange)="CorreoDominio()">
                        <option [ngValue]="null" selected>Pais de trabajo</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Estados unidos">Estados Unidos</option>
                      </select>
                    </div>

                    <div class="input-group col-md-6" [ngClass]="{ 'input-group-focus': focusCorreo === true }">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-email-85"> </i>
                        </div>
                      </div>
                      <input class="form-control" name="CorreoElectronico" placeholder="Correo Electronico" type="text"
                        tooltip="Correo asignado, varia si hay otro igual." (focus)="focusCorreo = true"
                        (blur)="focusCorreo = false" [(ngModel)]="CorreoElectronico" />

                    </div>
                  </div>

                  <!-- documento y tipo -->

                  <div class="row">

                    <div class="input-group col-md-6">
                      <select name="TipoIdentificacion" class="form-control" style="color: grey"
                        [(ngModel)]="TipoIdentificacion">
                        <option [ngValue]="null" selected>Tipo identificacion</option>
                        <option value="Cedula de Ciudadania">Cédula de Ciudadanía</option>
                        <option value="Cedula de Extranjeria">Cédula de Extranjería</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Permiso Especial">Permiso Especial</option>
                      </select>
                    </div>

                    <div class="input-group col-md-6"
                      [ngClass]="{ 'input-group-focus': focusNumeroDocumento === true }">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-badge"> </i>
                        </div>
                      </div>
                      <input class="form-control" name="NumeroIdentificacion" placeholder="Numero" maxlength="20"
                        type="text" (focus)="focusNumeroDocumento = true" (blur)="focusNumeroDocumento = false"
                        [(ngModel)]="NumeroIdentificacion" />

                    </div>
                  </div>


                  <!-- documento y tipo -->

                  <div class="row">

                    <div class="input-group col-md-6">
                      <select name="Area" class="form-control" style="color: grey" [(ngModel)]="Area">
                        <option [ngValue]="null" selected>Area</option>
                        <option value="Administracion">Administración</option>
                        <option value="Financiera">Financiera</option>
                        <option value="Compras">Compras</option>
                        <option value="Infraestructura">Infraestructura</option>
                        <option value="Operacion">Operación</option>
                        <option value="Talento Humano">Talento Humano</option>
                        <option value="Servicios Varios">Servicios Varios</option>
                      </select>
                    </div>

                    <div class="input-group col-md-6">
                      <div class="datepicker-container">
                        <div class="form-group">
                          <input bsDatepicker name="FechaIngreso" class="form-control" placeholder="Fecha de ingreso"
                            data-datepicker-color="danger"
                            [bsConfig]="{ isAnimated: true, containerClass: 'theme-red' }" [bsValue]="date"
                            id="datepicker" type="text" [(ngModel)]="FechaIngreso" />
                        </div>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
              <div class="card-footer">
                <a id="registrar" class="btn btn-danger btn-round btn-lg" (click)="Registrar()">
                  Registrar
                </a>
                <a id="actualizar" class="btn btn-danger btn-round btn-lg" (click)="Actualizar()">
                  Actualizar
                </a>
                <br><br>

                <alert class="alert-with-icon" [type]="'primary alert-with-icon'" id="alert" name="alert"
                  style="display:none ;" [dismissible]="true">
                  <span class="tim-icons icon-check-2" data-notify="icon"> </span>
                  <span>
                    Usuario Registrado
                  </span>
                </alert>

                <alert class="alert-with-icon" [type]="'danger alert-with-icon'" id="alert2" name="alert2"
                style="display:none ;" [dismissible]="true">
                <span class="tim-icons icon-check-2" data-notify="icon"> </span>
                <span>
                  Identificacion ya existe
                </span>
              </alert>
              </div>
            </div>
          </div>
        </div>

        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">Cidenet•</h1>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/register']"> Registro </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Siguenos</h3>
          <div class="btn-wrapper profile">
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
              href="https://www.linkedin.com/company/cidenet-s-a-s/" target="_blank">
              <i class="fab fa-linkedin"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com/Cidenet"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
            <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://www.instagram.com/cidenet/"
              target="_blank">
              <i class="fab fa-instagram"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>



</div>